# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
*.egg
*.egg-info/
dist/
build/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.ipynb_checkpoints/
.cache/
.DS_Store

# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.buildlog/
.history
